* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* 
MAIN COLORS

    DARCK-BLUE: #0084FD;
    LIGHT-BLUE: #B5DDFF;
    PURPLE: #9792E4;
    YELLOW: #FDC15F;
    DARCK-GREY: #333333;

MAIN COLORS */

/* Service classes */
    .bk-blue {
        background-color: blue;
    }

    .br-red {
        border: 1px solid red;
    }
/* Service classes */

/* Redundant classes */
    /* DISPLAY FLEX */
    .flex {
        display: flex;
    }

    .justify-center {
        justify-content: center;
    }

    .align-center {
        align-items: center;
    }

    .space-between {
        justify-content: space-between;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .column {
        flex-direction: column;
    }
    /* DISPLAY FLEX */

    .row {
        margin: 0 auto;
        width: 80%;
    }

    .container {
        width: 100%;
        margin: 5rem 0rem;
    }

    .color-white {
        color: white;
    }

    .a {
        text-decoration: none;
    }

    .button {
        padding: 0.5rem 3rem;
        border-radius: 2rem;
        display: inline-block;
        cursor: pointer;
    }

    /* Colors */
        .bk-dk-blue {
            background-color: #0084FD;
        }

        .cl-dk-blue {
            color: #0084FD;
        }

        .cl-lt-grey {
            color: #5A6E7F;
        }
    /* Colors */
    

    .width-full {
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    p {
        line-height: 2;
        font-weight: 700;
    }
/* Redundant classes */

/* Navbar */
    .container-nav {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        background-color: #0084FD;
        padding: 1rem 0rem;
    }

    .nav-logo {
        width: 25%;
    }

    .logo {
        width: 100%;
    }

    .nav-menu {
        width: 5rem;
    }

    .hamburger {
        cursor: pointer;
    }
/* Navbar */

/* First section */
    .cont-s1 {
        margin-top: 10rem;
    }

    /* Card */
        .card-type-1 {
            margin-bottom: 3rem;
            background-color: #B5DDFF;
            border-radius: 2rem;
            padding-top: 2rem;
        }

        .card-type-1 p {
            margin: 2rem 0rem;
        }

        .card-type-1 .button {
            margin-bottom: 2rem;
            font-size: 1.2em;
            font-weight: 600;
        }


    /* Card */
/* First section */