* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* 
MAIN COLORS

    DARCK-BLUE: #0084FD;
    LIGHT-BLUE: #B5DDFF;
    PURPLE: #9792E4;
    YELLOW: #FDC15F;
    DARCK-GREY: #333333;

MAIN COLORS */

/* Service classes */
    .bk-blue {
        background-color: blue;
    }

    .br-red {
        border: 1px solid red;
    }
/* Service classes */

/* Redundant classes */
    /* DISPLAY FLEX */
    .flex {
        display: flex;
    }

    .justify-center {
        justify-content: center;
    }

    .align-center {
        align-items: center;
    }

    .space-between {
        justify-content: space-between;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .column {
        flex-direction: column;
    }
    /* DISPLAY FLEX */

    .row {
        margin: 0 auto;
        width: 80%;
    }

    .container {
        width: 100%;
        margin: 5rem 0rem;
    }

    .a {
        text-decoration: none;
    }

    .button {
        padding: 0.5rem 3rem;
        border-radius: 2rem;
        display: inline-block;
        cursor: pointer;
    }

    /* Colors */
        .bk-dk-blue {
            background-color: #0084FD;
        }

        .bk-lt-blue {
            background-color: #B5DDFF;
        }

        .bk-purple {
            background-color: #9792E4;
        }

        .bk-white {
            background-color: white;
        }

        .cl-dk-blue {
            color: #0084FD;
        }

        .cl-lt-grey {
            color: #5A6E7F;
        }

        .cl-white {
            color: white;
        }

        .cl-purple {
            color: #9792E4;
        }
    /* Colors */
    

    .width-full {
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    /* TITLES */
        h2 {
            font-size: 2.2rem;
            font-weight: 800;
        } 

        h3 {
            font-size: 1.6rem;
            font-weight: 700;
        }

        h4 {
            font-size: 1.2rem;
            font-weight: 400;
        }
    /* TITLES */

    p {
        line-height: 2;
        font-weight: 700;
    }

    .italic {
        font-style: italic;
    }

    .button-circle{
        cursor: pointer;
        padding: 1rem 1.2rem;
    }

    .circle {
        border-radius: 4rem;
        display: inline-block;
    }

    /* Card */
        .card-type-1 {
            margin-bottom: 3rem;
            border-radius: 2rem;
            padding-top: 2rem;
        }

        .card-type-2 {
            margin-bottom: 3rem;
            border-radius: 4rem;
            padding-top: 2rem;
        }
    /* Card */
/* Redundant classes */

/* Navbar */
    .container-nav {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        background-color: #0084FD;
        padding: 1rem 0rem;
    }

    .nav-logo {
        width: 25%;
    }

    .logo {
        width: 100%;
    }

    .nav-menu {
        width: 5rem;
    }

    .hamburger {
        cursor: pointer;
    }
/* Navbar */

/* First section */
    .cont-s1 {
        margin-top: 10rem;
    }

    /* Card */
        .card-type-1 p {
            margin: 2rem 0rem;
        }

        .card-type-1 .button {
            margin-bottom: 2rem;
            font-size: 1.2em;
            font-weight: 600;
        }

        .card-icon {
            margin-bottom: 2rem;
        }


    /* Card */
/* First section */

/* Second section */
        .cont-s2 {
            padding: 5rem 0rem;
        }

        .img-1 {
            margin-bottom: 5rem;
        }

        .cont-s2 h2, .cont-s2 p {
            margin-bottom: 4rem;
        }

        .card-type-2 h3 {
            margin: 1rem 0rem;
        }

        .card-type-2 p {
            margin-bottom: 2rem;
            font-size: 1.1rem;
        }

        .card-type-2 .button-circle {
            margin-bottom: 2rem;
        }

/* Second section */

/* Third section */
        .cont-s3 p {
            margin-bottom: 3rem;
            font-size: 1.4rem;
            font-weight: 400;
        }

        .cont-s3 h4, .cont-s3 h2 {
            margin-bottom: 2rem;
        }

        .cont-s3 .card-type-2 p {
            margin: 1.5rem 0rem;
            font-size: 1.3rem;
        }

        .cont-s3 .card-type-2 {
            padding-bottom: 2rem;
        }

        .cont-s3 .card-type-2 h4 {
            margin: 0;
            font-weight: 700;
        }
/* Third section */